 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/pexels-photo-129208.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1043px;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 192px 122px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 40px 156px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-shape-1 {
  width: 379px;
  height: 342px;
  margin: -75px 299px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: -257px 40px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 640px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 66px;
    margin-bottom: -407px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 971px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 190px;
    margin-right: 136px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 72px;
    margin-right: 170px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 182px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -231px;
    margin-right: auto;
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 646px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -38px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 292px;
    margin-right: 161px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 46px;
    margin-right: 46px;
    margin-bottom: -421px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 41px;
    margin-right: 27px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-top: -124px;
    margin-right: 0;
    margin-left: -30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin: 34px auto 60px -8px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 814px;
}

.u-section-2 .u-group-1 {
  width: 752px;
  min-height: 286px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: 56px auto 0 22px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 40px 0 0;
}

.u-section-2 .u-list-1 {
  width: 968px;
  margin: 40px auto 60px 63px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 326px;
  --gap: 20px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-2 .u-icon-1 {
  width: 82px;
  height: 82px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-2 .u-text-2 {
  margin: 22px 10px 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 10px;
}

.u-section-2 .u-icon-2 {
  width: 82px;
  height: 82px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 15px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 22px 10px 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 10px;
}

.u-section-2 .u-icon-3 {
  width: 82px;
  height: 82px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 22px 10px 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 316px;
    grid-gap: 20px;
    grid-auto-columns: calc(33.333333333333336% - 13.333333333333334px);
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 8px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 726px;
    grid-auto-columns: calc(50% - 10px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 820px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 776px;
}

.u-section-3 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 16px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 40px 59px 0 43px;
}

.u-section-3 .u-image-1 {
  width: 219px;
  height: 329px;
  margin: 26px 107px 0 70px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -102px auto 0 86px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 776px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 15px 26px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 640px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 19px;
    margin-left: 3px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 67px;
    margin-left: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 640px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 821px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -103px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 23px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 16px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
} .u-section-4 {
  min-height: 763px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 677px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 50px;
}

.u-section-4 .u-shape-1 {
  width: 191px;
  height: 167px;
  margin: 120px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 58px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 155px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 339px;
  background-image: url("images/pexels-michaela-295826.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 338px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-text-3 {
  margin: 51px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 30px 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: -98px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 645px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 558px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 55px;
    width: 405px;
  }

  .u-section-4 .u-image-1 {
    min-height: 280px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 279px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    width: 300px;
  }

  .u-section-4 .u-image-1 {
    min-height: 214px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 507px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 50px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 321px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1046px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 202px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -350px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-5 {
  filter: none;
  background-image: url("images/360_F_343374408_yNbsT9jProN3eIrHEccPgsXs8NYmo9Hc.jpg");
  background-position: 50% 73.18%;
}

.u-section-5 .u-sheet-1 {
  min-height: 639px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 59px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 520px;
}

.u-section-5 .u-container-layout-1 {
  padding: 29px 94px;
}

.u-section-5 .u-text-1 {
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-5 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 536px;
  }
} .u-section-6 {
  min-height: 817px;
}

.u-section-6 .u-shape-1 {
  height: 273px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-6 .u-list-1 {
  width: 1140px;
  margin: -210px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 694px;
  --gap: 30px;
  grid-auto-columns: calc(50% - 15px);
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 40px 13px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 36px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 18px 198px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 40px 13px;
}

.u-section-6 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 36px auto 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 18px 198px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 21px 0 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 40px 13px;
}

.u-section-6 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 36px auto 0 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: 18px 198px 0 0;
}

.u-section-6 .u-text-9 {
  margin: 21px 0 0;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 40px 13px;
}

.u-section-6 .u-text-10 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 36px auto 0 0;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  margin: 18px 198px 0 0;
}

.u-section-6 .u-text-12 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 572px;
    grid-gap: 30px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1228px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-10 {
    font-size: 1.5rem;
  }
} .u-section-7 {
  min-height: 0;
}

.u-section-7 .u-shape-1 {
  height: 273px;
  background-image: none;
  margin: 0;
}

.u-section-7 .u-list-1 {
  width: 1140px;
  margin: -273px auto 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 596px;
  --gap: 30px;
  grid-auto-columns: calc(50% - 15px);
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 40px 13px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 18px 231px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 40px 13px;
}

.u-section-7 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  margin: 18px 231px 0 0;
}

.u-section-7 .u-text-6 {
  margin: 21px 0 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 40px 13px;
}

.u-section-7 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-8 {
  font-weight: 700;
  margin: 18px 231px 0 0;
}

.u-section-7 .u-text-9 {
  margin: 21px 0 0;
}

.u-section-7 .u-list-item-4 {
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 40px 13px;
}

.u-section-7 .u-text-10 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-11 {
  font-weight: 700;
  margin: 18px 231px 0 0;
}

.u-section-7 .u-text-12 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-list-1 {
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 491px;
    grid-gap: 30px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 31px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 31px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 31px;
  }

  .u-section-7 .u-text-11 {
    margin-right: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1228px;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-10 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  min-height: 745px;
}

.u-section-8 .u-shape-1 {
  height: 273px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-8 .u-list-1 {
  width: 1140px;
  margin: -210px auto 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 247px;
  --gap: 30px;
  grid-auto-columns: calc(50% - 15px);
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 13px 40px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 0 231px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 13px 40px;
}

.u-section-8 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: 0 231px 0 0;
}

.u-section-8 .u-text-6 {
  margin: 0;
}

.u-section-8 .u-text-7 {
  line-height: 1.4;
  font-size: 1.25rem;
  margin: 26px calc(((100% - 1140px) / 2)  + 24px) 60px calc(((100% - 1140px) / 2)  + 124px);
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    width: 940px;
  }

  .u-section-8 .u-repeater-1 {
    grid-gap: 30px;
    min-height: 204px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 31px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 31px;
  }

  .u-section-8 .u-text-7 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-list-1 {
    width: 720px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
  }

  .u-section-8 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-list-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-7 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-list-1 {
    width: 340px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-7 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-9 .u-sheet-1 {
  min-height: 746px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 65px 581px 0 14px;
}

.u-section-9 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  margin-top: 35px;
  margin-bottom: 34px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 559px;
  --gap: 0px;
  grid-auto-columns: 100%;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-9 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 300;
  margin: 37px auto 0 170px;
}

.u-section-9 .u-image-1 {
  width: 425px;
  height: 425px;
  background-image: url("images/uniwerek.jpg");
  background-position: 50% 46.57%;
  background-size: cover;
  margin: 0 13px 0 auto;
}

.u-section-9 .u-text-3 {
  font-style: italic;
  margin: -397px 473px 0 14px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 395px;
    margin-left: 0;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 287px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 175px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 67px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-2 {
    margin-top: -68px;
    margin-left: 105px;
  }

  .u-section-9 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: 105px;
    margin-right: 0;
  }
} .u-section-10 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/pexels-photo-9392381.jpeg');
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 747px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 75px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 950px;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 13px;
}

.u-section-10 .u-text-1 {
  margin: 121px auto 0 506px;
}

.u-section-10 .u-text-2 {
  margin: -21px auto 0 60px;
}

.u-section-10 .u-text-3 {
  font-size: 1.25rem;
  margin: 21px 19px 0 31px;
}

.u-section-10 .u-text-4 {
  font-size: 1.875rem;
  margin: -40px 635px 0 50px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-10 .u-shape-1 {
  width: 229px;
  height: 213px;
  margin: 46px auto 0 267px;
}

.u-section-10 .u-text-5 {
  margin: -9px auto 0 56px;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  font-size: 1.5rem;
  margin: 18px auto 0 56px;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 69px;
}

.u-section-10 .u-video-1 {
  width: 361px;
  height: 203px;
  box-shadow: 5px 5px 20px 0 rgba(244,0,49,0.4);
  margin: -103px 206px 0 auto;
}

.u-section-10 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-10 .u-video-poster-1 {
  width: 100%;
  height: 100%;
  background-image: url("images/stratyou.jpg");
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 783px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 296px;
    margin-left: 415px;
  }

  .u-section-10 .u-text-2 {
    width: 183px;
    margin-top: -22px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    width: 313px;
    margin-right: 485px;
    margin-left: 0;
  }

  .u-section-10 .u-shape-1 {
    margin-top: 20px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 290px;
  }

  .u-section-10 .u-btn-2 {
    --radius: 0px;
    --top-left-radius: 0px;
    --top-right-radius: 0px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
    border-style: solid;
    margin-left: 0;
  }

  .u-section-10 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 116px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 1162px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 122px;
    margin-left: 318px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 63px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-10 .u-text-4 {
    width: 284px;
    margin-right: 268px;
    margin-left: 3px;
  }

  .u-section-10 .u-shape-1 {
    margin-left: 270px;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-top: 178px;
    margin-left: 53px;
  }

  .u-section-10 .u-btn-2 {
    margin-top: 17px;
  }

  .u-section-10 .u-btn-3 {
    margin-top: 22px;
    margin-left: 31px;
  }

  .u-section-10 .u-video-1 {
    margin-top: -12px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 163px;
    margin-left: 236px;
  }

  .u-section-10 .u-text-2 {
    margin-top: -63px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 63px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-right: 91px;
    margin-left: 0;
  }

  .u-section-10 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1196px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 1160px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 164px;
    margin-left: 29px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 106px;
    margin-left: 41px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-top: -103px;
    margin-right: 99px;
    margin-left: -79px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: 73px;
    margin-right: 15px;
    margin-left: 41px;
  }

  .u-section-10 .u-btn-1 {
    font-size: 1.5rem;
  }

  .u-section-10 .u-shape-1 {
    margin-top: -292px;
    margin-right: 21px;
    margin-left: auto;
  }

  .u-section-10 .u-text-5 {
    margin-top: 140px;
    margin-left: 20px;
  }

  .u-section-10 .u-btn-2 {
    margin-top: 23px;
    margin-left: 13px;
  }

  .u-section-10 .u-btn-3 {
    margin-top: 20px;
  }

  .u-section-10 .u-video-1 {
    width: 320px;
    height: 180px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 0;
  }
}